.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a9d8f;
  height: 400px;
}

.centered {
  width: 200px;
  height: 200px;
  border: 1px solid #e9c46a;
  border-radius: 5px;
  padding: 5px;
  background-color: #264653;
  color: antiquewhite;
  text-align: center;
}

.centered span {
  font: 2em Brush Script MT, Copperplate, Arial;
}
